@import "assets/sass/variables";

.pagination-container {
    @include container();
    @include flexCenterCenter();

    margin-top: 7rem;
    
    .pagination-item {
        @include flexCenterCenter();

        width: 4rem;
        height: 4rem;
        margin-left: 10px;
        border-radius: 5px;
        background: $gray-200;
        cursor: pointer;
        transition: .2s ease;

        @media (max-width: 360px) {
            width: 3.5rem;
            height: 3.5rem;
        }

        &.active {
            border: 0.2rem solid $purple;
            color: $purple;
        }
    }

    .pagination-arrow {
        @include flexCenterCenter();

        width: 4rem;
        height: 4rem;
        border-radius: 0.5rem;
        background: $gray-200;
        margin-left: 1rem;
        cursor: pointer;
        transition: .2s ease;

        &.active {
            border: 0.2rem solid $purple;
            color: $purple;
        }
    }

    .pagination-link-active {
        border: 0.2rem solid $purple;
        color: $purple;
    }

    .arrow-inactive {
        path {
            fill: $arrow-inactive;
        }
    }

    .pagination-number {
        font-size: 1.8rem;
        font-weight: bold;
        color: $white-200;
    }

    .arrow-next {
        transform: rotate(180deg);
        margin-left: 1rem;
    }
}
