@import "assets/sass/variables";

.section-category {
    .container {
        @include container();

        .business {
            background-image: linear-gradient(0.01deg, #13131f 0.01%, rgba(19, 19, 31, 0) 99.99%), url("/assets/images/covers/business.jpg");
        }

        .category-banner {
            @include backgroundConfig();
            @include flexCenterStart();

            height: 32rem;
            margin-top: 8rem;
            flex-direction: column;
            padding-left: 4rem;

            .category-banner-title {
                
                width: 49rem;

                p {
                    color: $white-200;
                    font-weight: 500;
                    font-size: 1.8rem;
                    line-height: 2.8rem;
                    margin-top: 1.5rem;
                }
            }
        }

        .category-card-container {
            display: flex;
            justify-content: space-between;
            gap: 3rem;
            flex-wrap: wrap;
            
            margin-top: 9rem;
        }

        .pagination-card-container {
            margin-top: 6rem;
        }
    }
}
