@import "assets/sass/variables";

.section-category {
    .container {
        @include container();

        .business {
            background-image: linear-gradient(0.01deg, #13131f 0.01%, rgba(19, 19, 31, 0) 99.99%), url("/assets/images/covers/business.jpg");
        }

        .category-banner {
            @include backgroundConfig();
            @include flexCenterStart();
            
            height: 32rem;
            margin-top: 8rem;
            flex-direction: column;
            padding: 0 1.5rem;

            .category-banner-title {
                padding: 0 1.5rem;
                max-width: 49rem;

                p {
                    color: $white-200;
                    font-weight: 500;
                    font-size: 1.8rem;
                    line-height: 2.8rem;
                    margin-top: 1.5rem;
                }
            }
        }

        .category-card-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, 34rem);
            justify-content: space-between;
            gap: 4.5rem;
            margin-top: 9rem;

            @media (max-width: 1110px) {
                justify-content: space-around;
            }

            @media (max-width: 400px) {
                grid-template-columns: repeat(auto-fill, 28rem);
            }
        }

        .pagination-card-container {
            margin-top: 6rem;
        }
    }
}
