@import "assets/sass/variables";

.card {
    @include flexSpaceBetweenStart();
    @include backgroundConfig();

    width: 34rem;
    height: 25rem;
    flex-direction: column;
    position: relative;
    background-image: linear-gradient(360deg, rgb(19, 19, 31) 0%, rgba(19, 19, 31, 0) 100%),
        url("/assets/images/covers/the-last-of-us-part-ii.png");
    padding: 2rem 1.5rem;

    .card-without-category {
        position: absolute;
        bottom: 2rem;
    }
}
