@import "assets/sass/variables";

.card {
    @include flexSpaceBetweenStart();
    @include backgroundConfig();

    max-width: 34rem;
    min-width: 24rem;
    height: 25rem;
    flex-direction: column;
    position: relative;
    padding: 2rem 1.5rem;

    @media (max-width: 400px) {
        width: 28rem;
    }

    h4 {
        &:hover {
            text-decoration: underline;
        }
    }

    .card-without-category {
        position: absolute;
        bottom: 2rem;
    }
}

.end {
    justify-content: flex-end;
}
