@import "assets/sass/variables";

.card {
    @include flexSpaceBetweenStart();
    @include backgroundConfig();

    width: 34rem;
    height: 25rem;
    flex-direction: column;
    position: relative;
    padding: 2rem 1.5rem;

    h4 {
        &:hover {
            text-decoration: underline;
        }
    }

    .card-without-category {
        position: absolute;
        bottom: 2rem;
    }
}
