@import "assets/sass/variables";

.main-news {
    .container {
        @include container();

        .news-title {
            margin-top: 9rem;

            h3 {
                color: $white-200;
                margin-top: 1.2rem;
            }

            p {
                color: $white-200;
                font-weight: 400;
                margin-top: 1rem;
            }
        }

        .news-content-image {
            @include flexSpaceBetweenStart();

            flex-direction: column;
            padding: 2rem 3rem;
            background-image: url("/assets/images/covers/the-last-of-us-part-i-remake.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 70%;
            color: $white;
            width: 100%;
            height: 42rem;
            margin-top: 3rem;
        }

        .news-content-text {
            font-style: normal;
            font-weight: 400;
            font-size: 1.7rem;
            line-height: 3rem;
            color: $white-200;
            margin: 3rem 0;
        }

        .news-content-image-secondary {
            background-image: url("/assets/images/covers/the-last-of-us-part-i-remake-editions.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 65%;
            width: 100%;
            height: 42rem;
            margin-top: 3rem;
        }
    }
}
